{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Edit Order</h1>

    {{ include('order/save-order.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('order_list') }}">back to list</a>

    {{ include('order/delete-order.html.twig') }}
{% endblock %}
